*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
}

.container{
    max-width: 1440px;
    padding: 60px 20px;
    margin: 0 auto;
}
:root {
    --green: #54CC0A;
    --red: #FF3131;
    --black: #000000;
    --white: #fff;
}




/*banner*/
.banner-header{
    background-image: url(../img/bg.png);
    display: flex;
}

.content-banner-header img{
    border-radius: 50%;
}
.content-banner-header{
    text-align: center;
    color: var(--white);
}

.content-banner-header h1{
    font-size: 28px;
    margin-top: 34px;
}
.content-banner-header p{
    font-size: 16px;
    margin-top: 4px;
}
.content-banner-header a{
    background-color: var(--green);
    padding: 8px 16px;
    display: inline-block;
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    border-radius: 4px;
    margin-top: 16px;
}
.content-banner-header a.fechado{
    background-color: red;
}
/*banner*/

/*cardapio*/
.content-menu > h1{
    font-size: 32px;
    text-align: center;
}
.menu-all-itens{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px 78px;
    margin-top: 54px;
}
.menu-item{
    display: flex;
    align-items: center;
    gap: 14px;
}


.menu-item img{
    width: 144px;
    border-radius: 4px;
}
.infos-menu-item h2{
    font-size: 18px;
}
.infos-menu-item p{
    font-size: 16px;
    margin-top: 16px;
}
.infos-menu-item h3{
    font-size: 18px;
    font-weight: 600;
}
.cart-infos-menu-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
}
.add-to-cart-btn{
    border: none;
    cursor: pointer;
}
.cart-infos-menu-item i{
    background-color: var(--black);
    color: var(--white);
    padding: 5px 10px;
    border-radius: 4px;
}
@media (max-width: 991px) {
    .menu-all-itens{
        grid-template-columns: 1fr;
    }
}
@media (max-width: 467px) {
    .infos-menu-item h2{
        font-size: 16px;
    }
    .infos-menu-item p{
        margin-top: 14px;
    }
    .cart-infos-menu-item{
        margin-top: 18px;
    }
}
/*cardapio*/

/*footer*/

footer{
    background-color: var(--red);
}
.container-footer{
    max-width: 1440px;
    padding: 40px 20px;
    margin: 0 auto;
}
.content-footer{
    display: flex;
    justify-content: center;
}
.content-footer h1{
    color: var(--white);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}
/*modal*/
.modal-cart {
    background-color: rgba(0, 0, 0, 0.658);
    z-index: 9999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.modal-cart.ativo{
    display: flex;
}
.modal-cart .container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    max-height: 80vh;
    overflow-y: auto;
}
.modal-cart-content > h1{
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
}
.adress-cart{
    margin-bottom: 40px;
    margin-top: 20px;
}
#adress{
    padding: 8px 12px;
    border-radius: 4px;
    border: 1px solid #c3c3c3;
    width: 100%;
    
}
.modal-cart-content h2{
    font-size: 16px;
}
.bottom-cart{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.open-cart{
    background-color: transparent;
    border: none;
}
.close-cart,
.finish-cart{
    border: none;
    padding: 12px 20px;
    font-weight: 600;
    border-radius: 4px;
    cursor: pointer;
}
.finish-cart{
    background-color: var(--green);
    color: var(--white);
}
.adress-warn{
    display: none;
}

.cart-itens-modal{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cart-itens-modal button{
    background: none;
    border: none;
    cursor: pointer;
}
.cart-itens-modal > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.cart-itens-modal-name{
    font-weight: bold;
}
.cart-itens-total {
    padding-top: 16px;
}
#cart-items{
    display: flex;
    flex-direction: column;
    gap: 26px;
}
.adressWarn.remove{
    display: none;
}
.adressWarn{
    color: red;
    
}

/*modal*/
/*footer*/